.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
index_new.html
index_new.md
documents
README2.md
node_modules
plots\light_pollution_heatmap_georaster.html
plots\light_pollution_heatmap_georaster_files
plots\light_pollution_heatmap_georaster_FALSE_files
plots\light_pollution_heatmap_georaster_FALSE_q_files
plots\light_pollution_heatmap_georaster_TRUE_q_files
plots\light_pollution_heatmap_georaster_TRUE_noq_files
plots\light_pollution_heatmap_georaster_FALSE_noq_files
plots\light_pollution_heatmap_georaster_FALSE_noraster_files
plots\light_pollution_heatmap_georaster_TRUE_q_files
plots\light_pollution_heatmap_lower48_FALSE_files
plots\light_pollution_heatmap_lower48_TRUE_files
plots\light_pollution_heatmap_lower48_FALSE.html
plots\light_pollution_heatmap_lower48_TRUE.html
plots\light_pollution_heatmap_georaster_FALSE_q.html
plots\light_pollution_heatmap_georaster_FALSE_q_files
docs/new2/
plots/light_pollution_heatmap_georaster_FALSE_q.html
plots/light_pollution_heatmap_georaster_TRUE_q.html
plots/light_pollution_heatmap_georaster_FALSE_q_files/
plots/light_pollution_heatmap_georaster_TRUE_q_files/
plots/light_pollution_heatmap_georaster_FALSE_q.html

data/sky_brightness_coords_4.json
data/sky_brightness_coords_5.json
data/sky_brightness_coords_6.json
data/sky_brightness_coords_7.json
data/sky_brightness_coords_8.json
data/sky_brightness_coords_9.json
data/sky_brightness_coords.json
data/sky_brightness_coords_1.json
data/sky_brightness_coords_2.json
data/sky_brightness_coords_3.json

plots/sky_brightness_geotiff/
plots\sky_brightness_geotiff\
plots/sky_brightness_geotiff
plots\sky_brightness_geotiff

plots/sky_brightness_geotiff.tif
