World_Atlas_2015.tif
World_Atlas_2015.tpk
World_Atlas_2015.zip
World_Atlas_2015_2.zip
NewWorldAtlas_ArtificialSkyBrightness.kmz
closest_dark_points.rds
SVDNB_npp_20160101-20161231_75N180W_v10_c201807311200.tgz
